/*TELEFONO*/
@media screen and (min-width: 320px) {
  #paralax {
    background-image: url("../assets/img/papapa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    border-bottom: 5px solid black;
    height: 650px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #paralax #paralax__texto {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 50%;
    background-color: #dec27ccc;
    margin: 0px auto;
  }
  #paralax #paralax__texto #paralax__title {
    font-family: 'Vollkorn', serif;
    font-size: 2.5rem;
  }
  #paralax #paralax__texto #paralax__parrafo {
    font-size: 2rem;
  }
  #video_presentacion {
    display: none;
  }
  #video {
    text-align: center;
    background-color: black;
  }
  #video iframe {
    width: 320px;
    height: 315px;
  }
  #video #video__texto {
    margin: 0px auto;
    width: 320px;
    font-family: 'Vollkorn', serif;
    -webkit-animation-name: efecto;
            animation-name: efecto;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    color: white;
  }
  #video #video__texto #video_texto_titulo {
    font-style: italic;
    font-size: 1.2rem;
  }
  #video #video__texto #video_texto_parrafo {
    font-size: 1rem;
  }
  #contenedor__beneficios {
    background-color: #DADD21;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contenedor__beneficios #titulo__beneficios {
    margin: 10px;
    font-family: 'Vollkorn', serif;
    font-size: 1.5rem;
    color: black;
  }
  #contenedor__beneficios #beneficios {
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #contenedor__beneficios #beneficios .beneficio:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #contenedor__beneficios #beneficios .beneficio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 320px;
    margin-bottom: 10px;
  }
  #contenedor__beneficios #beneficios .beneficio .article__img {
    margin-right: 5px;
    height: 70px;
  }
  #contenedor__beneficios a {
    width: 40%;
    padding: 7px;
    text-decoration: none;
    color: white;
    background-color: #6c9747;
    border-radius: 15px;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 30px;
  }
  .col-md-4 {
    height: 200px;
  }
}

@media screen and (min-width: 768px) {
  #video iframe {
    width: 500px;
    height: 315px;
  }
  #video #video__texto {
    width: 768px;
  }
  #video #video__texto #video_texto_titulo {
    font-size: 2rem;
  }
  #video #video__texto #video_texto_parrafo {
    font-size: 1.2rem;
  }
  #contenedor__beneficios #titulo__beneficios {
    font-size: 2.5rem;
  }
  #contenedor__beneficios #beneficios {
    width: 820px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #contenedor__beneficios #beneficios .beneficio {
    width: 350px;
    margin-bottom: 10px;
  }
  #contenedor__beneficios #beneficios .beneficio .article__img {
    margin-right: 15px;
    height: 70px;
  }
  .col-md-4 {
    height: 400px;
  }
}

/*COMPUTADORA*/
@media screen and (min-width: 1300px) {
  #video {
    display: none;
  }
  #video_presentacion {
    display: block;
  }
  #contenedor__beneficios #titulo__beneficios {
    font-size: 3rem;
  }
  #contenedor__beneficios #beneficios {
    width: 1200px;
  }
  #contenedor__beneficios #beneficios .beneficio {
    width: 500px;
  }
  #contenedor__beneficios #beneficios .beneficio .article__img {
    height: 100px;
  }
  #video_presentacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 20px 0px;
    background-color: black;
  }
  #video_presentacion #video__texto {
    -webkit-animation-name: efecto;
            animation-name: efecto;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    color: white;
  }
  #video_presentacion #video__texto #video_texto_titulo {
    width: 400px;
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-size: 3rem;
  }
  #video_presentacion #video__texto #video_texto_parrafo {
    font-size: 1.5rem;
    font-family: 'Vollkorn', serif;
  }
  #paralax {
    height: 800px;
  }
}

@media screen and (min-width: 1700px) {
  #video_presentacion {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@-webkit-keyframes efecto {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@keyframes efecto {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

#puntos_compra {
  background-image: url(../assets/img/ciudad_calles.jpg);
  background-position: center;
}

#nuestras_granjas {
  background-image: url(../assets/img/granjas.jpg);
  background-position: center;
}

#nosotros {
  background-image: url(../assets/img/pared_verde.jpg);
  background-position: center;
}

#mas_info .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mas_info .col-md-4 a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#mas_info .col-md-4 a {
  width: 40%;
  padding: 7px;
  text-decoration: none;
  color: white;
  background-color: #6c9747;
  border-radius: 15px;
  font-size: 1.3rem;
  text-align: center;
}
/*# sourceMappingURL=estilo_index.css.map */