/*TELEFONO*/
@media screen and (min-width: 320px) {
  #paralax__title {
    font-family: 'Roboto Mono', monospace;
    font-size: 300%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px 50px;
  }
  #paralax {
    background-image: url("../assets/img/agricultura-urbana.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-bottom: 20px;
  }
  #paralax__text {
    text-align: center;
    font-size: 200%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px 50px;
  }
  #grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "video" "info";
    grid-gap: 5px;
    -ms-grid-rows: 350px auto;
        grid-template-rows: 350px auto;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    margin: 0px 20px;
    -webkit-animation-name: efecto;
            animation-name: efecto;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  #beneficios--tittle {
    display: block;
    text-align: center;
    font-size: 300%;
  }
  #video {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: video;
    text-align: center;
    background-color: rgba(255, 153, 0, 0.212);
    padding: 15px;
  }
  #video iframe {
    width: 90%;
    -webkit-animation-name: efecto-video;
            animation-name: efecto-video;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  #info {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: info;
    background-color: rgba(255, 153, 0, 0.212);
  }
  #pasosCompra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .beneficios, .beneficios--usuario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    border: 2px solid black;
    margin: 10px 0px;
    padding: 10px;
    -webkit-animation-name: efecto-beneficios;
            animation-name: efecto-beneficios;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  .beneficios--usuario {
    background-color: #12c2b3;
  }
  .article__img {
    margin: 10px;
  }
  #mapa {
    display: none;
  }
}

/*COMPUTADORA*/
@media screen and (min-width: 1037px) {
  #paralax__title {
    font-size: 500%;
  }
  #paralax {
    height: 800px;
  }
  #grilla {
        grid-template-areas: "video video video mapa" "info info info mapa";
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #video iframe {
    width: 550px;
  }
  section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #mapa {
    border: 3px solid black;
    display: inline;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    grid-area: mapa;
    background-color: green;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px;
  }
  .info_ubicacion h5 {
    font-size: 20px;
    font-family: 'Limelight', cursive;
  }
  .info_ubicacion p {
    font-family: 'Roboto Mono', monospace;
    bottom: 250px;
  }
}

.btn__info {
  margin-top: 15px;
  width: 60%;
  padding: 7px;
  text-decoration: none;
  color: white;
  background-color: yellowgreen;
  border-radius: 15px;
  font-size: 1.2rem;
  text-align: center;
}

@-webkit-keyframes efecto {
  0% {
    opacity: 0;
  }
}

@keyframes efecto {
  0% {
    opacity: 0;
  }
}

@-webkit-keyframes efecto-video {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

@keyframes efecto-video {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

@-webkit-keyframes efecto-beneficios {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes efecto-beneficios {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=estilo_index.css.map */