
/*TELEFONO*/
@media screen and (min-width: 320px){
     .fondo_imagen{
        border-bottom: solid 5px white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 700px;
        background-size: cover;
        background-position: top;
    }

    iframe{
        width: 100%;
    }

     .contenido{
        max-width: 300px;
        color:white;
        text-align: center;
        font-size: 1.2rem;
    } 

}

/*TABLETA*/
@media screen and (min-width: 750px){
    .contenido{
        max-width: 600px;
        font-size: 1.5rem;
    }
}

/*COMPUTADORA*/
@media screen and (min-width: 992px){
    .contenido{
        max-width: 900px;
        text-align: left;
        margin-left: 40px;
        font-size: 2rem;
    }

    .fondo_imagen{
        justify-content: center;
        align-items: start;
    }

    iframe{
        width: 550px;
    }
}

.agua{
    background-image: url(../assets/img/Agua-1.jpg);
    animation-name: translacionIzquierda;
    animation-duration: 2s;
}

.ciudad{
    background-image: url(../assets/img/pexels-photo-2347297.jpeg);
    animation-name: translacionDerecha;
    animation-duration: 3s;
} 

.campo{
    background-image: url(../assets/img/cosechadora.jpg);
    animation-name: translacionIzquierda;
    animation-duration: 4s;
} 

#video{
    background-color: #e7cc53d8;
    padding: 15px;
    text-align: center;
}

#video h4{
    font-family: 'Limelight', cursive;
    font-size: 20px;
    padding: 10px 0px;
}

 @keyframes translacionIzquierda {
     0%{
         opacity: 0.5;
         transform: translateX(-500px);
     }
 }

 @keyframes translacionDerecha {
    0%{
        opacity: 0.5;
        transform: translateX(500px);
    }
}
