
@media screen and (min-width:360px) {
    .image img{
        width: 320px;
        height: 200px;
        border-radius: 25px;
        filter: grayscale();

    }
}

@media screen and (min-width:920px) {
    .image img{
        width: 520px;
        height: 400px;
    }
}



h4{
    font-size: 100px;
    font-family: 'Limelight', cursive;
    margin-left: 30px;
}

.image{
    border-radius: 25px;
    margin: 20px;
    border: 2px solid gray;

}
.image img:hover{
    filter: saturate() 
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}