/**{
    padding: 0px;
    margin: 0px;
}

@media screen and (min-width:320px){

    #presentacion{
        display: block;
        text-align: center;
    }

    .menu {
        display: block;
        color:black;
        text-align: center;
    }

    header{
        background-color: aqua;
        position: sticky;
        top:0px;
        z-index: 10;
    }
}

@media screen and (min-width:1300px){
    
    #presentacion{
        display: inline-block;
        text-align: center;
        /* height: 90px; *//*
    }
    
    .menu {
        display: inline;
        position: absolute;
        right: 10px;
        top:25px;
        color:black;
    }
    
}
.header__logo{
    display: inline;
    margin: 5px;
    width: 75px;
    height: 75px;
}

#header__nombre{
    display: inline;
    position: relative;
    bottom: 25px;
    
}

.menu li{
   display: inline-block;
   font-size: 20px;
   padding: 10px;  
   
    
}

a{
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 50px;

}

.menu ul{
    position: absolute;
    display: none;
}

a:hover{
    transform: scale(1.05);
}

li:hover{
    transform: scale(1.1);
}

.menu ul li{
    display: block;
}

.menu li:hover ul{
    display: block;
    background-color: orange;
    
}

.sublist__element{
    color: aliceblue;
    margin: 10px 0px;
}

#ubicacion a{
    background-color: rgb(5, 211, 5);
    border: 3px solid yellow
}

#ubicacion:hover a{
    border: 5px solid yellow
}

footer{
    background-image: linear-gradient(to bottom, white, green);
    height: 200px;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}

footer *{
    position: relative;
    top:100px;
}*/


/* @media screen and (min-width:320px){
    #header__nombre{
        display: none;    
    }
    
}

@media screen and (min-width:600px){
    #header__nombre{
        display: inline;    
    }
    
} */

.header__logo{
    display: inline;
    margin: 0px 5px;
    width: 75px;
    height: 75px;
}


header{
    background-color: aqua;
    position: sticky;
    top:0px;
    z-index: 10;
}

button{
    top:25px;
}
