.header__logo{
    display: inline;
    margin: 0px 5px;
    width: 75px;
    height: 75px;
}

header{
    position: sticky;
    top:0px;
    z-index: 10;
}

/*
header div nav{
    background-color: aqua;
}
 
 .navegacion ul li a{
    color:black
}

.navegacion ul li{
    background-color: white;
    border-radius: 50px;
    padding: 0 5px;
    margin-right: 15px;
    color:black
}

.navegacion ul li a:hover{
    color:black;
    transform: scale(2);
}  */

button{
    top:25px;
}

footer{
    text-align: center;
    height: 100px;
}

.botonNav{
    color:white;
}