
$fuente-producto: 'Vesper Libre', serif;

$colores:(
    blanco-claro-on: rgba(255, 255, 255, 0.5),
    blanco-claro-off: rgba(255, 255, 255, 0),
    color-fondo: rgba(255, 153, 0, 0.212),
    gris-clarito: rgba(0,0,0,0.1)
);


@mixin margenes($vertical,$horizontal)
{
    margin: $vertical $horizontal;
}