@import 'variables';

/*TELEFONO*/
@media screen and (min-width:320px){

    

    #paralax{
        background: {
            image: url("../assets/img/agricultura-urbana.jpeg");
            repeat:no-repeat;
            size: cover;
            attachment: fixed;
            position: center;   
        }
        border-bottom: 5px solid black;
        height:650px;

        #paralax__texto{
            background-color: map-get($colores, blanco-claro-on);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0px auto;
            #paralax__title{
                font: {
                    family: 'Vollkorn', serif;
                    size: 2.5rem;
                }
            }

            #paralax__parrafo{
                text-align: center;
                font-size: 2rem;
                width: 250px;
            } 
        }
    }
    
    #video_presentacion{
        display: none;
    }

    #video{
        iframe{
            width: 320px;
            height: 315px;
        }
        text-align: center;
        background-color: black;
        #video__texto{
            margin: 0px auto;
            width: 320px;
            font-family: 'Vollkorn', serif;;
            #video_texto_titulo{
                font: {
                    style: italic;
                    size: 1.2rem;
                }
            }
            #video_texto_parrafo{
                font-size: 1rem;
            }
            animation-name: efecto;
            animation-duration: 2s;
            color: white;
        }
    }

    #contenedor__beneficios{
        background-color: #DADD21;
        display: flex;
        flex-direction: column;
        align-items: center;
        #titulo__beneficios{
            margin: 10px;
            font-family: 'Vollkorn', serif;
            font-size: 1.5rem;
            color:black;
        }
        #beneficios{
            .beneficio:hover{
                transform: scale(1.1);
            }
            .beneficio{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 320px;
                margin-bottom: 10px;
                .article__img{
                    margin-right: 5px;
                    height: 70px;
                }
            }
            width: 320px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        a{
            width: 40%;
            padding: 7px;
            text-decoration: none;
            color: white;
            background-color: #6c9747;
            border-radius: 15px;
            font-size: 1.3rem;
            text-align: center;
            margin-bottom: 30px;
        }
    }

    .col-md-4{
        height: 200px;
    }
}


@media screen and (min-width:768px){
    #video{
        iframe{
            width: 500px;
            height: 315px;
        }
        #video__texto{
            width: 768px;
            #video_texto_titulo{
                font-size: 2rem;
            }
            #video_texto_parrafo{
                font-size: 1.2rem;
            }
        }
    }
    #contenedor__beneficios{
        #titulo__beneficios{
            font-size: 2.5rem;
        }
        #beneficios{
            .beneficio{
                width: 350px;
                margin-bottom: 10px;
                .article__img{
                    margin-right: 15px;
                    height: 70px;
                }
            }
            width: 820px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    .col-md-4{
        height: 400px;
    }
}



/*COMPUTADORA*/
@media screen and (min-width:1300px){
    #video{
        display: none;
    }
    #video_presentacion{
        display:block;
    }
    #contenedor__beneficios{
        #titulo__beneficios{
            font-size: 3rem;
        }
        #beneficios{
            .beneficio{
                width: 500px;
                .article__img{
                    height: 100px;
                }
            }
            width: 1200px;
        }
    }
    
    #video_presentacion{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        margin: 20px 0px;
        background-color: black;
        #video__texto{
            #video_texto_titulo{
                width: 400px;
                font-family: 'Vollkorn', serif;
                font-style: italic;
                font-size: 3rem;
            }
            #video_texto_parrafo{
                font-size: 1.5rem;
                font-family: 'Vollkorn', serif;
            }
            animation-name: efecto;
            animation-duration: 2s;
            color: white;
        }
    }

    #paralax{
        height:800px;
    }
}

@media screen and (min-width:1700px) {
    #video_presentacion{        
        flex-direction: row;
    }
}




@keyframes efecto {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
}


#puntos_compra{
    background-image: url(../assets/img/ciudad_calles.jpg);
    background-position: center;
}
#nuestras_granjas{
    background-image: url(../assets/img/granjas.jpg);
    background-position: center;
}
#nosotros{
    background-image: url(../assets/img/pared_verde.jpg);
    background-position: center;
}

#mas_info{
    .col-md-4{
        display: flex;
        justify-content: center;
        align-items: center;
        a:hover{
            transform: scale(1.1);
        }
        a{
            width: 40%;
            padding: 7px;
            text-decoration: none;
            color: white;
            background-color: #6c9747;
            border-radius: 15px;
            font-size: 1.3rem;
            text-align: center;
        }
    }
}

