@import 'variables';

@media screen and (min-width:320px){
    
    #formulario{
        justify-content: center;
        background-image: url("../assets/img/cultivos-form.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        height: 700px;     
        form{
            min-width: 360px;
            width: 70%;
        }   
    }
    
    .titulo{
        background-color: map-get($colores, blanco-claro-on);
        text-align: center;
        font-family: 'Vesper Libre', serif;
        font-size: 3.5rem;
    }

    #check{
        background-color: map-get($colores, blanco-claro-on);
    }

    #imagen{
        display: none;
    }
    
    #grilla{
        animation-name: efecto;
        animation-duration: 1s;
    }

}

@media screen and (min-width:1500px){ 
    
    #grilla{
        display: grid;
        grid-template-areas: 
            "contacto imagen";
        grid-template-columns: 50% 50%;
        justify-content: space-evenly;
        background-color:  map-get($colores, color-fondo);
        @include margenes(20px,0px);       
        height: 740px;
    }
    
    #imagen{
        display: block;
        grid-area: imagen;
        background: {
            image: url(../assets/img/cultivos-form.jpg);
            size: contain;
            repeat:no-repeat;
            
        }
    }
    
    #formulario{
        background-image: none;
        grid-area: contacto;
    }
    .titulo{
        background-color: map-get($colores, blanco-claro-off);
    }
    #check{
        background-color: map-get($colores, blanco-claro-off);
    }

    
}


@keyframes efecto{
    0%{
        opacity: 0;
    }
    
}